html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* strong text */
header {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 36px;
  color:#40798C;
  text-align: center;
  text-transform: uppercase;
}

/* paragraph text formatting */
.main-text {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 24px;
  color: #40798C;
  text-align: center;
  line-height: 30px;
  letter-spacing: 1px;
}

p {
  margin-left: 100px;
  margin-right: 100px;
}

.light-text{
  color: #f5f5f5;
}
.dark-text {
  color:#40798C;
}

footer {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  color: #251101;
  text-align: center;
  margin-bottom: 10px;
}

/* boxes */
.box {
  align-content: center;
  padding-top: 10px; 
  padding-bottom: 5px;
  margin-left: 100px;
  margin-right: 200px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.light {
  background-color: #f5f5f5;
  align-content: center;
}

.dark  {
  background-color: #40798C;
}

/* background colors */
.light-background {
  background-color: #f5f5f5;
}

/* text breaks */
.break-box {
  background-color:#40798C;
  padding: 15px;
}

.dot {
  width: 25px;
  height: 25px;
  border: none;
  background: #40798C;
  color: #40798C;
  transform: rotate(45deg);
  border-radius: 50%;
}

.small {
  width: 15px;
  height: 15px;
  border: none;
  background: #AF125A;
  color: #AF125A;
  transform: rotate(45deg);
  border-radius: 50%;
}

/* list formatting */
 ul { text-align: left; }
 ol { text-align: left; }
 li { list-style-position: inside; }

/* link colors */
a { 
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 24px;
  font-weight: 700;
}
a:link     { color: #AF125A; } 
a:visited  { color: #c7578b; }
a:hover    { color: #40798C; }
a:active   { color: #63326E; }


